{% extends "layout.html" %}
{% block css %}
    <link rel="stylesheet" href="{{ buildStaticUrl("/css/swiper-bundle.min.css") }}">
{% endblock %}
{% block content %}
    <section class="home">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="owl-carousel owl-theme slide" id="featured">
                        <div class="swiper" style="--swiper-theme-color:#FFFFFF">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="item">
                                        <article class="featured">
                                            <div class="overlay"></div>
                                            <figure>
                                                <img src="{{ buildStaticUrl("/images/news/img04.jpg") }}" alt="Sample Article">
                                            </figure>
                                            <div class="details">
                                                <div class="category"><a href="category.html">Computer</a></div>
                                                <h1><a href="single.html">Phasellus iaculis quam sed est elementum vel
                                                    ornare ligula
                                                    venenatis</a></h1>
                                                <div class="time">December 26, 2016</div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="item">
                                        <article class="featured">
                                            <div class="overlay"></div>
                                            <figure>
                                                <img src="{{ buildStaticUrl("/images/news/img14.jpg") }}" alt="Sample Article">
                                            </figure>
                                            <div class="details">
                                                <div class="category"><a href="category.html">Travel</a></div>
                                                <h1><a href="single.html">Class aptent taciti sociosqu ad litora
                                                    torquent per
                                                    conubia
                                                    nostra</a></h1>
                                                <div class="time">December 10, 2016</div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="item">
                                        <article class="featured">
                                            <div class="overlay"></div>
                                            <figure>
                                                <img src="{{ buildStaticUrl("/images/news/img13.jpg") }}" alt="Sample Article">
                                            </figure>
                                            <div class="details">
                                                <div class="category"><a href="category.html">International</a></div>
                                                <h1><a href="single.html">Maecenas accumsan tortor ut velit pharetra
                                                    mollis</a></h1>
                                                <div class="time">October 12, 2016</div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="item">
                                        <article class="featured">
                                            <div class="overlay"></div>
                                            <figure>
                                                <img src="{{ buildStaticUrl("/images/news/img05.jpg") }}" alt="Sample Article">
                                            </figure>
                                            <div class="details">
                                                <div class="category"><a href="category.html">Lifestyle</a></div>
                                                <h1><a href="single.html">Mauris elementum libero at pharetra auctor
                                                    Fusce
                                                    ullamcorper
                                                    elit</a></h1>
                                                <div class="time">November 27, 2016</div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>

                            <!-- 如果需要导航按钮 -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                    <div class="line">
                        <div>Latest News</div>
                    </div>
                    <div class="row">
                        <article class="col-md-12 article-list">
                            <div class="inner">
                                <figure>
                                    <a href="single.html">
                                        <img src="{{ buildStaticUrl("/images/news/img11.jpg") }}" alt="Sample Article">
                                    </a>
                                </figure>
                                <div class="details">
                                    <div class="detail">
                                        <div class="category">
                                            <a href="#">Film</a>
                                        </div>
                                        <div class="time">December 19, 2016</div>
                                    </div>
                                    <h1><a href="single.html">Donec consequat arcu at ultrices sodales quam erat aliquet
                                        diam</a></h1>
                                    <p>
                                        Donec consequat, arcu at ultrices sodales, quam erat aliquet diam, sit amet
                                        interdum
                                        libero nunc accumsan nisi.
                                    </p>
                                    <footer>
                                        <a href="#" class="love"><i class="ion-android-favorite-outline"></i>
                                            <div>273</div>
                                        </a>
                                        <a class="btn btn-primary more" href="single.html">
                                            <div>More</div>
                                            <div><i class="ion-ios-arrow-thin-right"></i></div>
                                        </a>
                                    </footer>
                                </div>
                            </div>
                        </article>
                        <article class="col-md-12 article-list">
                            <div class="inner">
                                <figure>
                                    <a href="single.html">
                                        <img src="/static/images/news/img02.jpg" alt="Sample Article">
                                    </a>
                                </figure>
                                <div class="details">
                                    <div class="detail">
                                        <div class="category">
                                            <a href="#">Travel</a>
                                        </div>
                                        <div class="time">December 18, 2016</div>
                                    </div>
                                    <h1><a href="single.html">Maecenas accumsan tortor ut velit pharetra mollis</a></h1>
                                    <p>
                                        Maecenas accumsan tortor ut velit pharetra mollis. Proin eu nisl et arcu iaculis
                                        placerat sollicitudin ut est. In fringilla dui.
                                    </p>
                                    <footer>
                                        <a href="#" class="love"><i class="ion-android-favorite-outline"></i>
                                            <div>4209</div>
                                        </a>
                                        <a class="btn btn-primary more" href="single.html">
                                            <div>More</div>
                                            <div><i class="ion-ios-arrow-thin-right"></i></div>
                                        </a>
                                    </footer>
                                </div>
                            </div>
                        </article>
                        <article class="col-md-12 article-list">
                            <div class="inner">
                                <figure>
                                    <a href="single.html">
                                        <img src="/static/images/news/img03.jpg" alt="Sample Article">
                                    </a>
                                </figure>
                                <div class="details">
                                    <div class="detail">
                                        <div class="category">
                                            <a href="#">Travel</a>
                                        </div>
                                        <div class="time">December 16, 2016</div>
                                    </div>
                                    <h1><a href="single.html">Nulla facilisis odio quis gravida vestibulum Proin
                                        venenatis
                                        pellentesque arcu</a></h1>
                                    <p>
                                        Nulla facilisis odio quis gravida vestibulum. Proin venenatis pellentesque arcu,
                                        ut
                                        mattis nulla placerat et.
                                    </p>
                                    <footer>
                                        <a href="#" class="love active"><i class="ion-android-favorite"></i>
                                            <div>302</div>
                                        </a>
                                        <a class="btn btn-primary more" href="single.html">
                                            <div>More</div>
                                            <div><i class="ion-ios-arrow-thin-right"></i></div>
                                        </a>
                                    </footer>
                                </div>
                            </div>
                        </article>
                        <article class="col-md-12 article-list">
                            <div class="inner">
                                <figure>
                                    <a href="single.html">
                                        <img src="/static/images/news/img09.jpg" alt="Sample Article">
                                    </a>
                                </figure>
                                <div class="details">
                                    <div class="detail">
                                        <div class="category">
                                            <a href="#">Healthy</a>
                                        </div>
                                        <div class="time">December 16, 2016</div>
                                    </div>
                                    <h1><a href="single.html">Maecenas blandit ultricies lorem id tempor enim pulvinar
                                        at</a></h1>
                                    <p>
                                        Maecenas blandit ultricies lorem, id tempor enim pulvinar at. Curabitur sit amet
                                        tortor eu ipsum lacinia malesuada.
                                    </p>
                                    <footer>
                                        <a href="#" class="love"><i class="ion-android-favorite-outline"></i>
                                            <div>783</div>
                                        </a>
                                        <a class="btn btn-primary more" href="single.html">
                                            <div>More</div>
                                            <div><i class="ion-ios-arrow-thin-right"></i></div>
                                        </a>
                                    </footer>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="best-of-the-week">
        <div class="container">
            <h1>
                <div class="text">Best Of The Week</div>
                <div class="carousel-nav" id="best-of-the-week-nav">
                    <div class="prev">
                        <i class="ion-ios-arrow-left"></i>
                    </div>
                    <div class="next">
                        <i class="ion-ios-arrow-right"></i>
                    </div>
                </div>
            </h1>
            <div class="owl-carousel owl-theme carousel-1">
                <article class="article">
                    <div class="inner">
                        <figure>
                            <a href="single.html">
                                <img src="/static/images/news/img03.jpg" alt="Sample Article">
                            </a>
                        </figure>
                        <div class="padding">
                            <div class="detail">
                                <div class="time">December 11, 2016</div>
                                <div class="category"><a href="category.html">Travel</a></div>
                            </div>
                            <h2><a href="single.html">tempor interdum Praesent tincidunt</a></h2>
                            <p>Praesent tincidunt, leo vitae congue molestie.</p>
                        </div>
                    </div>
                </article>
                <article class="article">
                    <div class="inner">
                        <figure>
                            <a href="single.html">
                                <img src="/static/images/news/img16.jpg" alt="Sample Article">
                            </a>
                        </figure>
                        <div class="padding">
                            <div class="detail">
                                <div class="time">December 09, 2016</div>
                                <div class="category"><a href="category.html">Sport</a></div>
                            </div>
                            <h2><a href="single.html">Maecenas porttitor sit amet turpis a semper</a></h2>
                            <p> Proin vulputate, urna id porttitor luctus, dui augue facilisis lacus.</p>
                        </div>
                    </div>
                </article>
                <article class="article">
                    <div class="inner">
                        <figure>
                            <a href="single.html">
                                <img src="/static/images/news/img15.jpg" alt="Sample Article">
                            </a>
                        </figure>
                        <div class="padding">
                            <div class="detail">
                                <div class="time">December 26, 2016</div>
                                <div class="category"><a href="category.html">Lifestyle</a></div>
                            </div>
                            <h2><a href="single.html">Fusce ac odio eu ex volutpat pellentesque</a></h2>
                            <p>Vestibulum ante ipsum primis in faucibus orci luctus</p>
                        </div>
                    </div>
                </article>
                <article class="article">
                    <div class="inner">
                        <figure>
                            <a href="single.html">
                                <img src="/static/images/news/img14.jpg" alt="Sample Article">
                            </a>
                        </figure>
                        <div class="padding">
                            <div class="detail">
                                <div class="time">December 26, 2016</div>
                                <div class="category"><a href="category.html">Travel</a></div>
                            </div>
                            <h2><a href="single.html">Nulla facilisis odio quis gravida vestibulum</a></h2>
                            <p>Proin venenatis pellentesque arcu, ut mattis nulla placerat et.</p>
                        </div>
                    </div>
                </article>
                <article class="article">
                    <div class="inner">
                        <figure>
                            <a href="single.html">
                                <img src="/static/images/news/img01.jpg" alt="Sample Article">
                            </a>
                        </figure>
                        <div class="padding">
                            <div class="detail">
                                <div class="time">December 26, 2016</div>
                                <div class="category"><a href="category.html">Travel</a></div>
                            </div>
                            <h2><a href="single.html">Fusce Ullamcorper Elit At Felis Cursus Suscipit</a></h2>
                            <p>Proin venenatis pellentesque arcu, ut mattis nulla placerat et.</p>
                        </div>
                    </div>
                </article>
                <article class="article">
                    <div class="inner">
                        <figure>
                            <a href="single.html">
                                <img src="/static/images/news/img11.jpg" alt="Sample Article">
                            </a>
                        </figure>
                        <div class="padding">
                            <div class="detail">
                                <div class="time">December 26, 2016</div>
                                <div class="category"><a href="category.html">Travel</a></div>
                            </div>
                            <h2><a href="single.html">Donec consequat arcu at ultrices sodales</a></h2>
                            <p>Proin venenatis pellentesque arcu, ut mattis nulla placerat et.</p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
{% endblock %}
{% block js %}
    <script src="{{ buildStaticUrl("/js/swiper-bundle.min.js") }}"></script>
    <script>
        var mySwiper = new Swiper('.swiper', {
            loop: true, // 循环模式选项

            // 如果需要前进后退按钮
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            autoplay: {
                delay: 3000,
                stopOnLastSlide: false,
                disableOnInteraction: true,
            }
        })
    </script>
{% endblock %}

