{% extends "layout.html" %}
{% block content %}
    <section class="search">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="search-result">
                        Search results for keyword "{{ str }}" found in {{ pages.total_count }} posts.
                    </div>
                    <div class="row">
                        {% for item in newsl %}
                            <article class="col-md-12 article-list">
                                <div class="inner">
                                    <figure>
                                        <a href="{{ buildUrl("single")~"?id="~item.id }}">
                                            <img src="{{ pic_path ~ item.hash~ ".jpg" }}" height="195" width="300">
                                        </a>
                                    </figure>
                                    <div class="details">
                                        <div class="detail">
                                            <div class="category">
                                                <a href="#">{{ item.genres }}</a>
                                            </div>
                                            <time>{{ item.date }}</time>
                                        </div>
                                        <h1><a href="{{ buildUrl("single")~"?id="~item.id }}">{{ item.title }}</a></h1>
                                        <p>{{ (item.text | truncate_html(length=150)) ~ '...' }}</p>
                                        <footer>
                                            <a class="btn btn-primary more" href="single.html">
                                                <div>More</div>
                                                <div><i class="ion-ios-arrow-thin-right"></i></div>
                                            </a>
                                        </footer>
                                    </div>
                                </div>
                            </article>
                        {% endfor %}
                        {% if pages.total_count > 10 %}
                            <div class="row">
                                <div class="col-md-12">
                                    <span class="pagination-count" style="line-height: 84px;">共有{{ pages.total_count }}条记录|每页{{ pages.page_size }}条</span>
                                    <ul class="pagination pull-right">
                                        {% if pages.is_prev == 1 %}
                                            <li>
                                                <a href="{{ buildUrl(pages.url ~ '&p=' ~ ((pages.current - 1)|string) ~ '&search_str=' ~ str) }}"
                                                   aria-label="Previous">
                                                    <span aria-hidden="true"><i class="ion-ios-arrow-left"></i></span>
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% for idx in pages.range %}
                                            {% if (idx - pages.current < 3 and idx - pages.current > -3) or idx == pages.total_pages %}
                                                <li {% if pages.current == idx %} class="active" {% endif %}><a
                                                        href="{{ buildUrl(pages.url ~ '&p=' ~ (idx|string) ~ '&search_str=' ~ str) }}">{{ idx }}</a>
                                                    {% elif idx - pages.current == 3 or pages.current - idx == 3 %}
                                                <li><a href="#">...</a></li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if pages.is_next == 1 %}
                                            <li>
                                                <a href="{{ buildUrl(pages.url ~ '&p=' ~ ((pages.current + 1)|string) ~ '&search_str=' ~ str) }}" aria-label="Next">
                                                    <span aria-hidden="true"><i class="ion-ios-arrow-right"></i></span>
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
