{% extends "common/layout.html" %}
{% block content %}
    <section class="single">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<ol class="breadcrumb">
						  <li><a href="{{ buildUrl("/") }}">Home</a></li>
						  <li class="active">{{ news.genres }}</li>
						</ol>
						<article class="article main-article">
							<header>
								<h1>{{ news.title }}</h1>
								<ul class="details">
									<li>Posted on {{ news.date }}</li>
									<li><a>{{ news.genres }}</a></li>
									<li>By <a href="#">{{ news.authors }}</a></li>
								</ul>
							</header>
							<div class="main">
                                <div class="featured" align="center">
										<img src="{{ pic_path ~ news.hash~ ".jpg" }}" height="360" width="600">
										<figcaption>Image by {{ news.authors }}</figcaption>
								</div>
                                <p>{{ news.text }}</p>
							</div>
						</article>
						<div class="line"><div>You May Also Like</div></div>
						<div class="row">
							<article class="article related col-md-6 col-sm-6 col-xs-12">
								<div class="inner">
									<figure>
										<a href="#">
											<img src="{{ pic_path ~ news.hash~ ".jpg" }}">
										</a>
									</figure>
									<div class="padding">
										<h2><a href="#">{{ news.title }}</a></h2>
										<div class="detail">
											<div class="category"><a href="#">{{ news.genres }}</a></div>
											<div class="time">{{ news.date }}</div>
										</div>
									</div>
								</div>
							</article>
							<article class="article related col-md-6 col-sm-6 col-xs-12">
								<div class="inner">
									<figure>
										<a href="#">
											<img src="{{ pic_path ~ news.hash~ ".jpg" }}">
										</a>
									</figure>
									<div class="padding">
										<h2><a href="#">{{ news.title }}</a></h2>
										<div class="detail">
											<div class="category"><a href="#">{{ news.genres }}</a></div>
											<div class="time">{{ news.date }}</div>
										</div>
									</div>
								</div>
							</article>
						</div>
					</div>
				</div>
			</div>
		</section>
{% endblock %}